body .btn,
body .container,
body .main-content,
.animate-this,
.animate-this * {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.dont-animate-this,
.dont-animate-this * {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

/* Font Face Declaration */
@font-face {
    font-family: 'DINBold';
    src: url('../fonts/DINWeb-Bold.eot');
    src: url('../fonts/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINWeb-Bold.woff') format('woff'),
         url('../fonts/DINWeb-Bold.ttf') format('truetype'),
         url('../fonts/DINWeb-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINLight';
    src: url('../fonts/DINWeb-Light.eot');
    src: url('../fonts/DINWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINWeb-Light.woff') format('woff'),
         url('../fonts/DINWeb-Light.ttf') format('truetype'),
         url('../fonts/DINWeb-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINMedium';
    src: url('../fonts/DINWeb-Medium.eot');
    src: url('../fonts/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINWeb-Medium.woff') format('woff'),
         url('../fonts/DINWeb-Medium.ttf') format('truetype'),
         url('../fonts/DINWeb-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINWeb';
    src: url('../fonts/DINWeb.eot');
    src: url('../fonts/DINWeb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINWeb.woff') format('woff'),
         url('../fonts/DINWeb.ttf') format('truetype'),
         url('../fonts/DINWeb.svg') format('svg');
    font-style: normal;
    font-style: normal;
}
@media (min-width: 1400px) {
	.container {
		/*width: 85%;*/
	}
}
@media (max-width: 768px) {
	.jumbotron .container {
		padding-left: 6px;
		padding-right: 6px;
	}
	.container {
		padding-left: 26px;
		padding-right: 26px;
	}
}
/* MARGINS
-------------------------------------------------- */
.marginTop0 { margin-top: 0px; }
.marginTop5 { margin-top: 5px; }
.marginTop10 { margin-top: 10px; }
.marginTop12 { margin-top: 12px; }
.marginTop20 { margin-top: 20px; }
.marginTop30 { margin-top: 30px; }
.marginTop40 { margin-top: 40px; }
.marginTop50 { margin-top: 50px; }
.marginTop60 { margin-top: 60px; }
.marginTop70 { margin-top: 70px; }
.marginTop80 { margin-top: 80px; }
.marginTop90 { margin-top: 90px; }
.marginTop100 { margin-top: 100px; }

.marginBottom0 { margin-bottom: 0px; }
.marginBottom5 { margin-bottom: 5px; }
.marginBottom10 { margin-bottom: 10px; }
.marginBottom20 { margin-bottom: 20px; }
.marginBottom30 { margin-bottom: 30px; }
.marginBottom40 { margin-bottom: 40px; }
.marginBottom50 { margin-bottom: 50px; }
.marginBottom60 { margin-bottom: 60px; }
.marginBottom70 { margin-bottom: 70px; }
.marginBottom80 { margin-bottom: 80px; }
.marginBottom90 { margin-bottom: 90px; }
.marginBottom100 { margin-bottom: 100px; }

.marginLeft0 { margin-left: 0px; }
.marginRight0 { margin-right: 0px; }


@media screen and (max-width: 767px) {

	.xs-marginTop0 { margin-top: 0px; }
	.xs-marginTop5 { margin-top: 5px; }
	.xs-marginTop10 { margin-top: 10px; }
	.xs-marginTop12 { margin-top: 12px; }
	.xs-marginTop20 { margin-top: 20px; }
	.xs-marginTop30 { margin-top: 30px; }
	.xs-marginTop40 { margin-top: 40px; }
	.xs-marginTop50 { margin-top: 50px; }
	.xs-marginTop60 { margin-top: 60px; }
	.xs-marginTop70 { margin-top: 70px; }
	.xs-marginTop80 { margin-top: 80px; }
	.xs-marginTop90 { margin-top: 90px; }
	.xs-marginTop100 { margin-top: 100px; }

	.xs-marginBottom0 { margin-bottom: 0px; }
	.xs-marginBottom5 { margin-bottom: 5px; }
	.xs-marginBottom10 { margin-bottom: 10px; }
	.xs-marginBottom20 { margin-bottom: 20px; }
	.xs-marginBottom30 { margin-bottom: 30px; }
	.xs-marginBottom40 { margin-bottom: 40px; }
	.xs-marginBottom50 { margin-bottom: 50px; }
	.xs-marginBottom60 { margin-bottom: 60px; }
	.xs-marginBottom70 { margin-bottom: 70px; }
	.xs-marginBottom80 { margin-bottom: 80px; }
	.xs-marginBottom90 { margin-bottom: 90px; }
	.xs-marginBottom100 { margin-bottom: 100px; }

	.xs-marginLeft0 { margin-left: 0px; }
	.xs-marginRight0 { margin-right: 0px; }

}
@media screen and (min-width: 768px) and (max-width: 991px) {

	.sm-marginTop0 { margin-top: 0px; }
	.sm-marginTop5 { margin-top: 5px; }
	.sm-marginTop10 { margin-top: 10px; }
	.sm-marginTop12 { margin-top: 12px; }
	.sm-marginTop20 { margin-top: 20px; }
	.sm-marginTop30 { margin-top: 30px; }
	.sm-marginTop40 { margin-top: 40px; }
	.sm-marginTop50 { margin-top: 50px; }
	.sm-marginTop60 { margin-top: 60px; }
	.sm-marginTop70 { margin-top: 70px; }
	.sm-marginTop80 { margin-top: 80px; }
	.sm-marginTop90 { margin-top: 90px; }
	.sm-marginTop100 { margin-top: 100px; }

	.sm-marginBottom0 { margin-bottom: 0px; }
	.sm-marginBottom5 { margin-bottom: 5px; }
	.sm-marginBottom10 { margin-bottom: 10px; }
	.sm-marginBottom20 { margin-bottom: 20px; }
	.sm-marginBottom30 { margin-bottom: 30px; }
	.sm-marginBottom40 { margin-bottom: 40px; }
	.sm-marginBottom50 { margin-bottom: 50px; }
	.sm-marginBottom60 { margin-bottom: 60px; }
	.sm-marginBottom70 { margin-bottom: 70px; }
	.sm-marginBottom80 { margin-bottom: 80px; }
	.sm-marginBottom90 { margin-bottom: 90px; }
	.sm-marginBottom100 { margin-bottom: 100px; }

	.sm-marginLeft0 { margin-left: 0px; }
	.sm-marginRight0 { margin-right: 0px; }

}
@media screen and (min-width: 992px) and (max-width: 1199px) {

	.md-marginTop0 { margin-top: 0px; }
	.md-marginTop5 { margin-top: 5px; }
	.md-marginTop10 { margin-top: 10px; }
	.md-marginTop12 { margin-top: 12px; }
	.md-marginTop20 { margin-top: 20px; }
	.md-marginTop30 { margin-top: 30px; }
	.md-marginTop40 { margin-top: 40px; }
	.md-marginTop50 { margin-top: 50px; }
	.md-marginTop60 { margin-top: 60px; }
	.md-marginTop70 { margin-top: 70px; }
	.md-marginTop80 { margin-top: 80px; }
	.md-marginTop90 { margin-top: 90px; }
	.md-marginTop100 { margin-top: 100px; }

	.md-marginBottom0 { margin-bottom: 0px; }
	.md-marginBottom5 { margin-bottom: 5px; }
	.md-marginBottom10 { margin-bottom: 10px; }
	.md-marginBottom20 { margin-bottom: 20px; }
	.md-marginBottom30 { margin-bottom: 30px; }
	.md-marginBottom40 { margin-bottom: 40px; }
	.md-marginBottom50 { margin-bottom: 50px; }
	.md-marginBottom60 { margin-bottom: 60px; }
	.md-marginBottom70 { margin-bottom: 70px; }
	.md-marginBottom80 { margin-bottom: 80px; }
	.md-marginBottom90 { margin-bottom: 90px; }
	.md-marginBottom100 { margin-bottom: 100px; }

	.md-marginLeft0 { margin-left: 0px; }
	.md-marginRight0 { margin-right: 0px; }

}
/* PADDINGS
-------------------------------------------------- */

.paddingTop0 { padding-top: 0px; }
.paddingTop5 { padding-top: 5px; }
.paddingTop10 { padding-top: 10px; }
.paddingTop18 { padding-top: 18px; }
.paddingTop20 { padding-top: 20px; }
.paddingTop25 { padding-top: 25px; }
.paddingTop30 { padding-top: 30px; }
.paddingTop35 { padding-top: 35px; }
.paddingTop40 { padding-top: 40px; }
.paddingTop50 { padding-top: 50px; }
.paddingTop60 { padding-top: 60px; }
.paddingTop70 { padding-top: 70px; }
.paddingTop80 { padding-top: 80px; }
.paddingTop90 { padding-top: 90px; }
.paddingTop95 { padding-top: 95px; }
.paddingTop100 { padding-top: 100px; }

.paddingBottom0 { padding-bottom: 0px; }
.paddingBottom5 { padding-bottom: 5px; }
.paddingBottom10 { padding-bottom: 10px; }
.paddingBottom15 { padding-bottom: 15px; }
.paddingBottom20 { padding-bottom: 20px; }
.paddingBottom30 { padding-bottom: 30px; }
.paddingBottom40 { padding-bottom: 40px; }
.paddingBottom50 { padding-bottom: 50px; }
.paddingBottom60 { padding-bottom: 60px; }
.paddingBottom70 { padding-bottom: 70px; }
.paddingBottom80 { padding-bottom: 80px; }
.paddingBottom90 { padding-bottom: 90px; }
.paddingBottom100 { padding-bottom: 100px; }

.paddingLeft0 { padding-left: 0px; }
.paddingLeft15 { padding-left: 15px; }
.paddingLeft20 { padding-left: 20px; }
.paddingLeft30 { padding-left: 30px; }

.paddingRight0 { padding-right: 0px; }
.paddingRight15 { padding-right: 15px; }
.paddingRight30 { padding-right: 30px; }


@media screen and (max-width: 767px) {
	.xs-paddingTop0 { padding-top: 0px; }
	.xs-paddingTop5 { padding-top: 5px; }
	.xs-paddingTop10 { padding-top: 10px; }
	.xs-paddingTop20 { padding-top: 20px; }
	.xs-paddingTop30 { padding-top: 30px; }
	.xs-paddingTop40 { padding-top: 40px; }
	.xs-paddingTop50 { padding-top: 50px; }
	.xs-paddingTop60 { padding-top: 60px; }
	.xs-paddingTop70 { padding-top: 70px; }
	.xs-paddingTop80 { padding-top: 80px; }
	.xs-paddingTop90 { padding-top: 90px; }
	.xs-paddingTop100 { padding-top: 100px; }

	.xs-paddingBottom0 { padding-bottom: 0px; }
	.xs-paddingBottom5 { padding-bottom: 5px; }
	.xs-paddingBottom10 { padding-bottom: 10px; }
	.xs-paddingBottom20 { padding-bottom: 20px; }
	.xs-paddingBottom30 { padding-bottom: 30px; }
	.xs-paddingBottom40 { padding-bottom: 40px; }
	.xs-paddingBottom50 { padding-bottom: 50px; }
	.xs-paddingBottom60 { padding-bottom: 60px; }
	.xs-paddingBottom70 { padding-bottom: 70px; }
	.xs-paddingBottom80 { padding-bottom: 80px; }
	.xs-paddingBottom90 { padding-bottom: 90px; }
	.xs-paddingBottom100 { padding-bottom: 100px; }

	.xspaddingLeft8 { padding-left: 8px; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.sm-paddingTop0 { padding-top: 0px; }
	.sm-paddingTop5 { padding-top: 5px; }
	.sm-paddingTop10 { padding-top: 10px; }
	.sm-paddingTop20 { padding-top: 20px; }
	.sm-paddingTop30 { padding-top: 30px; }
	.sm-paddingTop40 { padding-top: 40px; }
	.sm-paddingTop50 { padding-top: 50px; }
	.sm-paddingTop60 { padding-top: 60px; }
	.sm-paddingTop70 { padding-top: 70px; }
	.sm-paddingTop80 { padding-top: 80px; }
	.sm-paddingTop90 { padding-top: 90px; }
	.sm-paddingTop100 { padding-top: 100px; }

	.sm-paddingBottom0 { padding-bottom: 0px; }
	.sm-paddingBottom5 { padding-bottom: 5px; }
	.sm-paddingBottom10 { padding-bottom: 10px; }
	.sm-paddingBottom20 { padding-bottom: 20px; }
	.sm-paddingBottom30 { padding-bottom: 30px; }
	.sm-paddingBottom40 { padding-bottom: 40px; }
	.sm-paddingBottom50 { padding-bottom: 50px; }
	.sm-paddingBottom60 { padding-bottom: 60px; }
	.sm-paddingBottom70 { padding-bottom: 70px; }
	.sm-paddingBottom80 { padding-bottom: 80px; }
	.sm-paddingBottom90 { padding-bottom: 90px; }
	.sm-paddingBottom100 { padding-bottom: 100px; }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.md-paddingTop0 { padding-top: 0px; }
	.md-paddingTop5 { padding-top: 5px; }
	.md-paddingTop10 { padding-top: 10px; }
	.md-paddingTop20 { padding-top: 20px; }
	.md-paddingTop30 { padding-top: 30px; }
	.md-paddingTop40 { padding-top: 40px; }
	.md-paddingTop50 { padding-top: 50px; }
	.md-paddingTop60 { padding-top: 60px; }
	.md-paddingTop70 { padding-top: 70px; }
	.md-paddingTop80 { padding-top: 80px; }
	.md-paddingTop90 { padding-top: 90px; }
	.md-paddingTop100 { padding-top: 100px; }

	.md-paddingBottom0 { padding-bottom: 0px; }
	.md-paddingBottom5 { padding-bottom: 5px; }
	.md-paddingBottom10 { padding-bottom: 10px; }
	.md-paddingBottom20 { padding-bottom: 20px; }
	.md-paddingBottom30 { padding-bottom: 30px; }
	.md-paddingBottom40 { padding-bottom: 40px; }
	.md-paddingBottom50 { padding-bottom: 50px; }
	.md-paddingBottom60 { padding-bottom: 60px; }
	.md-paddingBottom70 { padding-bottom: 70px; }
	.md-paddingBottom80 { padding-bottom: 80px; }
	.md-paddingBottom90 { padding-bottom: 90px; }
	.md-paddingBottom100 { padding-bottom: 100px; }
}

@media screen and (min-width: 1200px) {
	.lg-paddingTop0 { padding-top: 0px; }
	.lg-paddingTop5 { padding-top: 5px; }
	.lg-paddingTop10 { padding-top: 10px; }
	.lg-paddingTop20 { padding-top: 20px; }
	.lg-paddingTop30 { padding-top: 30px; }
	.lg-paddingTop40 { padding-top: 40px; }
	.lg-paddingTop50 { padding-top: 50px; }
	.lg-paddingTop60 { padding-top: 60px; }
	.lg-paddingTop70 { padding-top: 70px; }
	.lg-paddingTop80 { padding-top: 80px; }
	.lg-paddingTop90 { padding-top: 90px; }
	.lg-paddingTop100 { padding-top: 100px; }

	.lg-paddingBottom0 { padding-bottom: 0px; }
	.lg-paddingBottom5 { padding-bottom: 5px; }
	.lg-paddingBottom10 { padding-bottom: 10px; }
	.lg-paddingBottom20 { padding-bottom: 20px; }
	.lg-paddingBottom30 { padding-bottom: 30px; }
	.lg-paddingBottom40 { padding-bottom: 40px; }
	.lg-paddingBottom50 { padding-bottom: 50px; }
	.lg-paddingBottom60 { padding-bottom: 60px; }
	.lg-paddingBottom70 { padding-bottom: 70px; }
	.lg-paddingBottom80 { padding-bottom: 80px; }
	.lg-paddingBottom90 { padding-bottom: 90px; }
	.lg-paddingBottom100 { padding-bottom: 100px; }
}


/* TEXT SIZE
-------------------------------------------------- */
h1, h1 i, h1 b, h1 span.text-green, h1 span.text-sky-blue, h1 span.text-black { font-size: 50px; letter-spacing: -2px;}
h2, h2 i, h2 b, h2 span.text-green, h2 span.text-sky-blue, h2 span.text-black { font-size: 44px; letter-spacing: -2px;}
h3, h3 i, h3 b, h3 span.text-green, h3 span.text-sky-blue, h3 span.text-black { font-size: 38px; letter-spacing: -1px;}
h4, h4 i, h4 b, h4 span.text-green, h4 span.text-sky-blue, h4 span.text-black { font-size: 32px; letter-spacing: -1px;}
h5, h5 i, h5 b, h5 span.text-green, h5 span.text-sky-blue, h5 span.text-black { font-size: 26px; }
h6, h6 i, h6 b, h6 span.text-green, h6 span.text-sky-blue, h6 span.text-black { font-size: 20px; }
h6 {
	line-height: 1.45;
}
h1,h2,h3,p {
	color: #363636;
}
h4,h5,h6 {
	color: #333;
}
h1,h2,h3,h4,h5,h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.xl-font {font-size: 120px;}
.chalk-bg {background: #2a2a2a url(../img/chalk-bg.jpg) no-repeat center center;}
.chalk-bg.has-error { 
	background-color: #6B0909;
	background-image: none;
}
.chalk-bg.has-success { 
	background-color: #4EA300;
	background-image: none;
}

p {font-size: 16px; color: #666; font-family: "DINWeb";}
p small {font-size: 14px; font-style: italic; color: #898989;}

ol.ordered-list {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol.ordered-list > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol.ordered-list.a {
	padding-left: 25px;
}
ol.a > li {
	list-style-type: lower-alpha;
}
ol.i > li {
	list-style-type: lower-roman;
}
ol.ordered-list.a > li {
	display: list-item;
}

ol.ordered-list > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 5px;
    /*padding-left: 8px;*/   
}

ol.ordered-list.a > li:before {
	display: none;	
}

ol.ordered-list li ol.ordered-list > li {
  /*margin: 0;*/
}

ol.ordered-list li ol.ordered-list > li:before {
  content: counters(item, ".") " ";
}


.text-xxl {
	font-size: 80px;
}

.text-xxl a {
	font-size: 80px;
}

.text-xl {
	font-size: 62px;
}

.text-xl a {
	font-size: 62px;
}

.text-xlg {
   font-size: 49px;
   line-height: 48px;
}

.text-slg {
   font-size: 38px;
}

.text-lg {
	font-size: 40px;
}

.text-lg a {
	font-size: 40px;
}

.text-xmd {
	font-size: 26px;
}

.text-xmd a {
	font-size: 26px;
}

.text-md {
	font-size: 20px;
}

.text-md a {
	font-size: 20px;
}

.text-sm {
	font-size: 16px;
}

.text-sm a {
	font-size: 16px;
}

.text-xs {
	font-size: 14px;
}

.text-xs a {
	font-size: 14px;
}

.text-xxs {
  font-size: 12px;
}

.text-xxs a {
  font-size: 12px;
}
.bold-font {
	font-family: "DINBold";
}
.thin-font {
	font-family: "DINLight";
}

.thick-font {
	font-family: "DINMedium";
}
.regular-font {
	font-family: 'DINWeb';
}

strong,b { font-family: "DINBold"; color:#333; }

ol, ul { padding-left: 25px; }
ul li,
ol li { font-size: 14px; color:#666; font-family: "DINWeb";}

.footnote {
	font-size: 14px;
}
.footnote.italic {
	font-style: italic;
}

h4.italic {
	font-style: italic;
}

/* STANDARD COLORS
-------------------------------------------------- */

.text-light-grey {
	color: #9b9b9b;
}

.text-light-grey2 {
	color: #dddddd;
}

.text-lighter-grey
{
	color: #ebebeb;
}

a.text-lighter-grey:hover
{
	color: #ebebeb;
	text-decoration: none;
}

.text-dark-grey {
	color: #212121;
}

.text-white,
.text-white b,
.text-white strong {
	color: #fff;
}

.link-text-white a {
	color: #fff
}

.text-orange {
	color: #f36523;
}

button.text-white:hover,
	 a.text-white:hover {
	color: #eee;
}

.text-aqua {
	color: #25a5da;
}

.text-green {
	color: #8cc736;
}

.text-dark-green,
.text-dark-green a,
.text-dark-green a b,
.text-dark-green a i
{
	color: #73c20e;
}

.header-bold
{
	font-family: 'DINBold';
}

.header-green
{
	color: #73c20e !important;
}
.header-blue
{
	color: #0aa3dc !important;
}

a.text-dark-green:hover {
	color: #73c20e;
}

.text-sky-blue,
.text-sky-blue a,
.text-sky-blue a b,
.text-sky-blue a i
{
	color: #0aa3dc;
}

a.text-sky-blue:hover {
	color: #0986b4;
	text-decoration: none;
}

.text-yellow
{
	color: #fff000;
}

.text-dark-pink
{
	color: #ff4184;
}

.text-purple
{
	color: #7a43b6;
}

.text-black {
	color: #333333;
}

.text-starhub-green {
	color: #73c20e;
}

.bg-royal-blue {
  background: #004eb6;
}

button.bg-black:hover {
  background-color: #000;
}

button.bg-black {
  	border: 0;
}
.black-bg {
  background-color: #212121;
}

.bg-white {
  background-color: #fff;
}

.bg-rgba-white
{
	background-color: rgba(255, 255, 255, 0.1);
}

.bg-rgba-white:active,
.bg-rgba-white:hover
{
	background-color: rgba(255, 255, 255, 0.4);
	border-color: #fff;
}

.bg-rgba-lighter-grey
{
	background-color: rgba(235, 235, 235, 0.1);
}

.bg-rgba-lighter-grey:hover
{
	background-color: rgba(235, 235, 235, 0.1);
	border-color: rgba(235, 235, 235, 0.2);
}

.bg-lighter-grey
{
	background-color: #ebebeb;
}

.bg-light-grey {
  background-color: #f5f5f5;
}

.bg-grey {
  background-color: #dddddd;
}

.bg-dark-grey {
  background-color: #2a2a2a;
}
.bg-dark-grey.has-error {
	background-color: #6B0909;
}
.bg-dark-grey.has-success {
	background-color: #4EA300;
}

.bg-diagonal-grey {
	background-color: #f9f9f9;
}

.bg-green {
  background-color: #8cc736;
}

.bg-light-green {
  background-color: #b2dd86;
}

.bg-starhub-green {
	background-color: #73c20e;
}

.bg-dark-green
{
	background-color: #73c20e;
}

.bg-purple
{
	background-color: #7a43b6;
}

.bg-yellow
{
	background-color: #fff000;
}

.bg-sky-blue
{
	background-color: #07a1d8;
}

.bg-dark-pink
{
	background-color: #ff4184;
}


/* NO GUTTERS FOR COLS
-------------------------------------------------- */

.row.no-gutter {
	margin-left: 0px;
	margin-right: 0px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.no-gutter > [class*='col-']:first-child {
	/*padding-left: 15px;*/
}
.no-gutter > [class*='col-']:last-child {
	/*padding-right: 15px;*/
}


/* BORDER FORMATS
-------------------------------------------------- */

.noBorder
{
	border: none;
}

.border1 {
	border: 1px solid;
}

.borderBottom1 {
	border-bottom: 1px solid;
}

.borderTop1 {
	border-top: 1px solid;
}

.borderLeft1 {
	border-left: 1px solid;
}

.borderRight1 {
	border-right: 1px solid;
}

.border-grey {
	border-color:#b5b5b5;
}

.border-lighter-grey {
	border-color:#dddddd;
}

.border-light-grey
{
	border-color: #f4f4f4;
}

.border-rgba-lighter-grey
{
	border-color: rgba(235, 235, 235, 0.2);
}

.border-white
{
	border-color: #fff;
}


/* SOCIAL MEDIA
-------------------------------------------------- */
.socialMedia * {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.socialMedia .icon-facebook
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-fb.png) no-repeat 0 0;
}

.socialMedia .icon-facebook:hover
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-fb.png) no-repeat 0 -34px;
}

.socialMedia .icon-twitter
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-twitter.png) no-repeat 0 0;
}

.socialMedia .icon-twitter:hover
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-twitter.png) no-repeat 0 -34px;
}

.socialMedia .icon-gplus
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-gplus.png) no-repeat 0 0;
}

.socialMedia .icon-gplus:hover
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-gplus.png) no-repeat 0 -34px;
}

.socialMedia .icon-linkedin
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-linkedin.png) no-repeat 0 0;
}

.socialMedia .icon-linkedin:hover
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-linkedin.png) no-repeat 0 -34px;
}

.socialMedia .icon-instagram
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-instagram.png) no-repeat 0 0;
}

.socialMedia .icon-instagram:hover
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-instagram.png) no-repeat 0 -34px;
}

.socialMedia .icon-whatsapp
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-whatsapp.png) no-repeat 0 0;
}

.socialMedia .icon-whatsapp:hover
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-whatsapp.png) no-repeat 0 -34px;
}

.socialMedia .icon-email
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-email.png) no-repeat 0 0;
}

.socialMedia .icon-email:hover
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-email.png) no-repeat 0 -34px;
}



.socialMedia .icon-facebook2 {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-fb2.png) no-repeat 0 0;
}

.socialMedia .icon-facebook2:hover {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-fb2.png) no-repeat 0 -35px;
}

.socialMedia .icon-twitter2 {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-twitter2.png) no-repeat 0 0;
}

.socialMedia .icon-twitter2:hover {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-twitter2.png) no-repeat 0 -35px;
}

.socialMedia .icon-gplus2 {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-gplus2.png) no-repeat 0 0;
}

.socialMedia .icon-gplus2:hover {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-gplus2.png) no-repeat 0 -35px;
}

.socialMedia .icon-linkedin2 {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-linkedin2.png) no-repeat 0 0;
}

.socialMedia .icon-linkedin2:hover {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-linkedin2.png) no-repeat 0 -35px;
}

.socialMedia .icon-instagram2 {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-instagram2.png) no-repeat 0 0;
}

.socialMedia .icon-instagram2:hover {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/social-media/icon-instagram2.png) no-repeat 0 -35px;
}



.privacySocial .icon-facebook3 {
	display: block;
	width: 8px;
	height: 16px;
	background: url(../img/social-media/icon-fb3.png) no-repeat 0 0;
}

.privacySocial .icon-facebook3:hover {
	display: block;
	width: 8px;
	height: 16px;
	background: url(../img/social-media/icon-fb3.png) no-repeat 0 -20px;
}

.privacySocial .icon-twitter3 {
	display: block;
	width: 17px;
	height: 16px;
	background: url(../img/social-media/icon-twitter3.png) no-repeat 0 0;
}

.privacySocial .icon-twitter3:hover {
	display: block;
	width: 17px;
	height: 16px;
	background: url(../img/social-media/icon-twitter3.png) no-repeat 0 -20px;
}

.privacySocial .icon-gplus3 {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social-media/icon-gplus3.png) no-repeat 0 0;
}

.privacySocial .icon-gplus3:hover {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social-media/icon-gplus3.png) no-repeat 0 -20px;
}

.privacySocial .icon-linkedin3 {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social-media/icon-linkedin3.png) no-repeat 0 0;
}

.privacySocial .icon-linkedin3:hover {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social-media/icon-linkedin3.png) no-repeat 0 -20px;
}

.privacySocial .icon-instagram3 {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social-media/icon-instagram3.png) no-repeat 0 0;
}

.privacySocial .icon-instagram3:hover {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social-media/icon-instagram3.png) no-repeat 0 -20px;
}

.privacySocial .icon-email3 {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social-media/icon-email3.png) no-repeat 0 0;
}

.privacySocial .icon-email3:hover {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social-media/icon-email3.png) no-repeat 0 -20px;
}

.privacySocial .icon-wrap
{
	position: relative;
	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
	height: 16px;
}

.privacySocial .social-icon-placeholder {
  max-width: 100%;
}

.privacySocial .social-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.privacySocial .icon-wrap:hover .social-icon {
  top: auto;
  bottom: 0;
}


/* OPACITY
-------------------------------------------------- */

.opacity3
{
	opacity: 0.3;
}

.vr {
	height: 100px;
	border-left: 1px solid #dcdcdc;
	margin-left: -6px;
	display: table;
}

.vr .text {
	display: table-cell;
	vertical-align: middle;
}

.vr .text .offset {
	margin-left: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#989898;
}

.hr {
	border-top: 1px solid #dcdcdc;
	margin-top: 40px;
    margin-bottom: 35px;
}

div.dotdotdot {
	height: 70px;
}

.jVerticalAlign {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.not-full-image {
	max-width: 100%;
}

.visibilityHidden {
	visibility: hidden;
}

/* jcarousel */
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}
.jcarousel li {
    float: left
}
.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto!important
}
.jcarousel-control-next,
.jcarousel-control-prev {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 15px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    font: 24px/27px Arial, sans-serif
}
.ebg .jcarousel-control-next,
.ebg .jcarousel-control-prev {
	color: #0aa3dc;
	text-shadow: 0 0 1px #0aa3dc;
}
.cbg .jcarousel-control-next,
.cbg .jcarousel-control-prev {
	color: #73c20e;
	text-shadow: 0 0 1px #73c20e;
}
.jcarousel-control-prev {
    left: -2px
}
.jcarousel-control-next {
    right: -2px
}
.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7
}