html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}
* {
	font-family: "DINWeb";
}

h1,h2,h3,h4,h5,h6 {
	font-family: "DINBold";
}

label {
	font-family: "DINBold";
}

@media (min-width: 768px) {
	.setting .dropdown-menu {
		min-width: 500px;
	}
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer .footer-logo {
	height: 20px;
    margin: 10px 5px;	
    opacity: 0.6;
    image-rendering: crisp-edges;
}
footer .footer-logo:hover {
    opacity: 1;
}

footer p.text-muted {
	margin-bottom: 0px;
	color: #999;
    font-size: 12px;
    font-style: italic;
}

.bookmark .dropdown-menu,
.setting .dropdown-menu {
	opacity: 0.95;
}

.navbar-brand {
	padding-left: 15px;
	padding-right: 15px;
	color:#5bc0de;
}

.dropdown-setting {
	/*min-width: 500px;*/
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	clear: both;
}
.dropdown-setting:before,
.dropdown-setting:after {
	content:" ";
	display: table;
}
.dropdown-setting:after {
	clear: both;
}

.fb-share {
	cursor: pointer;
	background-color: #3B5998;
}

.progress,
.btn {
	border-radius: 0px;
}

.btn-success {
    background-color: #fd7e47;
    border-color: #FF9262;
}
.btn-success:hover,
.btn-success:focus {
    background-color: #E96F3A;
    border-color: #816837;
}

.banner {
	background-color: #fd7e47;
	margin-bottom: 0px;
	/*background: url(../img/banner.jpg) no-repeat;*/
	/*background-size: cover;*/
}
.banner * {
	color: #fff;
}
.checkbox.disabled label {
	color: #cbcbcb;
}

.badge.badge-level {
	font-size: inherit;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
	background-color: #676767;
    border: 1px solid #4F4F4F;
    color: #F1F1F1;
}
.badge.link {
	background-color: #B8B8B8;
}
.badge.link:hover {
	background-color: #5BC0DE;
}
.badge.load {
	background-color: #47FD93;
}
.badge.load:hover {
	background-color: #38DF73;
}
.badge.trash {
	background-color: #F4F4F4;
    color: #9F9F9F;
}
.badge.trash:hover {
	background-color: #FD4747;
	color: #FFF;
}
.badge.badge-level.logged-in {
	color: #fff;
	background-color: #5BC0DE;
    border: 1px solid #46b8da;
}

/* Form group lg */
.form-group-lg label {
	font-size: 25px;
	margin-bottom: 0px;
	margin-top: 5px;
}
.form-group-lg input[type="text"] {
	font-size: 25px;
    /*margin-top: -7px;*/
}
.form-control,
.form-group-lg .form-control {
	border-radius: 0px;
}

label.question-wrapper {
	font-size: 35px;
	padding-top: 100px;
	padding-bottom: 100px;
}

label.question-wrapper #myanswer {
    /*font-size: 50px;*/
    /*height: 80px;*/
    width: 230px;
    font-family: 'DINWeb';
}

.has-error label.question-wrapper #myanswer {
    background-color: #FFF0F0;
}

@media (max-width: 768px) {
	label.question-wrapper #myanswer {
		margin: 0 auto;
	}
}

.cards {
	position: relative;
	top: 0px;
	border-left: 1px solid #efefef;  
	border-right: 1px solid #efefef;  
	border-bottom: 1px solid #efefef;  
	border-top: 1px solid #fbfbfb;
	padding:15px; 
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.15);
	box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}
.cards:hover {
	top: -2px;
	-webkit-box-shadow: 0 6px 10px rgba(0,0,0,0.3);
	box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}
.cards>a.link {
}

.cards>.desp {
	font-family: "DINLight";
}

.social-media {
	background-color: #333;
	color: #fff;
}
.social-media .user-img {
	overflow: hidden;
	width:30px;
	height:30px;
	float: left;
}
.social-media .welcome-msg {
	margin-top: 10px;
	margin-bottom: 10px;
}
.social-media .user-img img {
	width:100%;
}
.social-media .user-name {
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 15px;
    margin-left: 0px;
}
.social-media .btn-bookmark,
.social-media .btn-user,
.social-media .btn-offline {
	border-radius: 4px;
	padding: 4px;
    background-color: #2D2D2D;
    border-color: #3A3939;
    position: relative;
}
.btn.bookmark {
	height: 46px;
}
.social-media .btn-bookmark:focus,
.social-media .btn-bookmark:hover,
.social-media .btn-user:focus,
.social-media .btn-user:hover,
.social-media .btn-offline:focus,
.social-media .btn-offline:hover {
    background-color: #2D2D2D;
    border-color: #67311A;
}
.social-media .btn-offline,
.social-media .btn-user,
.social-media .btn-bookmark {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
	color: #fff;
}
.social-media .btn-user {
    padding-top: 10px;
    padding-bottom: 10px;
}
.social-media .btn-offline {
    color: #909090;
}
.social-media .badge.count {
    position: relative;
    color: #fff;
    background-color: #5BC0DE;
    border-color: #46b8da;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: -1px;
    padding-top: 5px;
}
i.num, i.frac, i.ops, i.par {
	font-style: normal;
}

i.frac {
	margin-right: 10px;
}

i.ops {
	padding-right: 10px;
}

.qn-proc {
	font-size: 50px;
}

.question {
	display: table;
}

.question-mathjax {
	margin-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
    color: #F1F1F1;
}

@media (max-width: 768px) {
	.question-mathjax {
	    max-width: 100%;
	    overflow: scroll;
	    display: inline-block;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    margin-bottom: 40px;
	    margin-top: -30px;
	}
}

.digit-slider, .value-slider {margin-bottom: 10px;}
.digit-slider .ui-slider-handle,
.value-slider .ui-slider-handle {
	border-radius: 10px;
	border:none;
	background-color: #333;
}
.digit-slider .ui-slider-handle:hover,
.value-slider .ui-slider-handle:hover {
	background-color: #555;
}

.question * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.qn-proc>.frac-grp, .question>.frac-grp,
.qn-proc>.frac-par, .question>.frac-par,
.qn-proc>.num-grp, .question>.num-grp,
.qn-proc>.frac-ops, .question>.frac-ops {
	display: table-cell;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}

.qn-proc>.frac-par, .question>.frac-par {
	padding: 0px;
}

.num-grp:first-child i.ops{
	padding-right: 0px;
}

.question>.frac-grp {
	padding-left: 10px;
	padding-right: 10px;
}

.nume, .deno {
	display: block;
	text-align: center;
}

.frac-grp .nume .ops {
	display: none;	
}

.deno {
	border-top: 4px solid #333;
	/*margin:0 -5px;*/
}

.deno .ops,
.deno .frac {
	display: inline-block;
	text-indent: -9999px;
	padding-right: 0px;
}

.nume .ops {
	padding-right: 0px;
}

.btn-fb-login {
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #465269), color-stop(100%, #2a3345));
    background-image: -moz-linear-gradient(top, #465269 0%, #2a3345 100%);
    background-image: -webkit-linear-gradient(top, #465269 0%, #2a3345 100%);
    background-image: linear-gradient(to bottom, #465269 0%, #2a3345 100%);
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.btn-fb-login:hover {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #334e87));
    background-image: -moz-linear-gradient(top, #486bb5 0%, #334e87 100%);
    background-image: -webkit-linear-gradient(top, #486bb5 0%, #334e87 100%);
    background-image: linear-gradient(to bottom, #486bb5 0%, #334e87 100%);
}

.btn-fb-login .icon {
    background: url(http://s.cdpn.io/6035/fb_login_sprite.png) no-repeat;
    width: 11px;
    height: 22px;
    display: inline-block;
    float: left;
    margin: -3px 10px;
}

.btn-fb-login .title {
    color: #fff;
    float: left;
    padding: 0 10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.btn-fb-login .title small {
	color: rgba(255,255,255,0.5);
}

.modal-title .badge.badge-level.logged-in {
	height: 39px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-header {
	border-bottom: 0px;
	padding-bottom: 0px;
}
.modal-footer {
	border-top: 0px;
	padding-top: 0px;
}
.farming-normal .form-inline {
	height: 415px;
	max-height: 415px;
	overflow: hidden;
}
.alert-container {
	position: absolute;
	width: 100%;
	top: 50px;
}
