<div class="modal fade" id="unlock">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button">×</button>
				<h4 class="modal-title">Congrats! You have reached Level <div class="badge badge-level {{loggedInBadge}}">{{userlvl}}</div> You have unlocked:</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li ng-repeat="n in nextUpgrade">
						<kbd>{{n}}</kbd>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>