<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="setting dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MATHFARM <span class="glyphicon glyphicon-cog"></span> Question Settings  <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<div class="row">
								<ul class="list-unstyled col-sm-12">
									<li>
										<div class="dropdown-setting">
											<label for="" class="control-label"><kbd>{{numberOfValues.length}}</kbd> values in Math Question (min: {{numberOfValues.minVal}}, max: {{numberOfValues.maxVal}})</label>
											<div class="value-slider"></div>
										</div>
									</li>
								    <li>
								    	<div class="dropdown-setting">
											<label for="" class="control-label"><kbd>{{numberOfValues.digits}}</kbd> digit Per Value (min: {{numberOfValues.minDigit}}, max: {{numberOfValues.maxDigit}})</label>
											<div class="digit-slider"></div>
											<!-- <input type="number" class="form-control " id="numbers" min="{{numberOfValues.minDigit}}" max="{{numberOfValues.maxDigits}}" ng-change="mathfarm.generateNumbers()" ng-model="numberOfValues.digits" type="text" placeholder="Digits Per Value" > -->
										</div>
								    </li>
								    <li>
								    	<div class="dropdown-setting">
								    		<label for="" class="control-label">Operators</label>
					    					<div class="checkbox {{operators.addition.unlock}}">
						    					<label for="ops-additions">
													<input type="checkbox" ng-disabled="operators.addition.unlock"  id="ops-additions" ng-model="operators.addition.on" ng-change="mathfarm.generateNumbers()">
													Additions <kbd>+</kbd>
												</label>
											</div>
					    					<div class="checkbox {{operators.subtraction.unlock}}">
						    					<label for="ops-subtractions">
													<input type="checkbox" ng-disabled="operators.subtraction.unlock" id="ops-subtractions" ng-model="operators.subtraction.on" ng-change="mathfarm.generateNumbers()">
													Subtractions <kbd>-</kbd>
												</label>
											</div>
					    					<div class="checkbox {{operators.multiplication.unlock}}">
						    					<label for="ops-multiplication">
													<input type="checkbox" ng-disabled="operators.multiplication.unlock" id="ops-multiplication" ng-model="operators.multiplication.on" ng-change="mathfarm.generateNumbers()">
													Multiplications <kbd>×</kbd>
												</label>
											</div>
					    					<div class="checkbox {{operators.division.unlock}}">
						    					<label for="ops-division">
													<input type="checkbox" ng-disabled="operators.division.unlock" id="ops-division" ng-model="operators.division.on" ng-change="mathfarm.generateNumbers()">
													Division <kbd>÷</kbd>
												</label>
											</div>
					    					<div class="checkbox {{parentheses.unlock}}">
						    					<label for="ops-parentheses">
													<input type="checkbox" ng-disabled="parentheses.unlock" id="ops-parentheses" ng-model="parentheses.on" ng-change="mathfarm.generateNumbers()">
													Parentheses <kbd>()</kbd>
												</label>
											</div>
					    					<div class="checkbox {{fractions.unlock}}">
						    					<label for="ops-fractions">
													<input type="checkbox" ng-disabled="fractions.unlock" id="ops-fractions" ng-model="fractions.on" ng-change="mathfarm.generateNumbers()">
													Fractions <kbd>&frac14;</kbd>
												</label>
											</div>
								    	</div>
								    </li>
								</ul>

								<ul class="list-unstyled col-sm-12">
									<li class="dropdown-header">
										<strong>Coming Soon</strong>
									</li>
									<li class="divider"></li>
									<li>
										<div class="dropdown-setting">
											Decimals <kbd>0.1</kbd>
										</div>
									</li>
									<li>
										<div class="dropdown-setting">
											Algebra <kbd>Find <i>x</i></kbd>
										</div>
									</li>
									<li>
										<div class="dropdown-setting">
											TAN, COS &amp; SIN
										</div>
									</li>
									<li>
										<div class="dropdown-setting">
											Angle <kbd>45°</kbd>
										</div>
									</li>
									<li>
										<div class="dropdown-setting">
											Power <kbd>45<sup>2</sup></kbd> <kbd>45<sup>3</sup></kbd> <kbd>z<sup>x</sup></kbd>
										</div>
									</li>
									<li>
										<div class="dropdown-setting">
											Pi <kbd>π</kbd>
										</div>
									</li>
									<li>
										<div class="dropdown-setting">
											Quadratic Eqs <kbd>ax<sup>2</sup>+bx+c=0</kbd>
										</div>
									</li>
									<li>
										<div class="dropdown-setting">
											Problem Sums <kbd>...</kbd>
										</div>
									</li>
									<li>
										<div class="dropdown-setting">
											And many more to come <kbd>∞</kbd>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right social-media">
				<li class="{{btnOffline}}">
					<a href="" class="btn-offline">
                        <span class="glyphicon glyphicon-globe"></span>
                        Offline
                    </a>
				</li>
				<li class="{{btnUser}}">
					<a href="" class="btn-user clearfix">
                        <div class="user-name">
                            {{user.name}}
                        </div>
                        <div class="user-img">
                            <img ng-src="{{user.profilePhoto}}" alt="">
                        </div>
                    </a>
				</li>
				<li class="{{btnFB}} animate-this">
					<a href="" class="btn-fb-login clearfix" ng-click="IntentLogin()">
                        <span class="icon icon-fb"></span>
                        <span class="title">Login with FB <small>to bookmark and share the questions</small></span>
    				</a>
				</li>
				<li class="{{btnBookmark}} dropdown bookmark">
					<a href="" class="btn-bookmark class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"">
    					<span class="glyphicon glyphicon-bookmark"></span>
    					Bookmarks
    					<span class="badge count">{{bookmarks.list.length}}</span>
    				</a>
    				<ul class="dropdown-menu">
						<li ng-repeat="n in bookmarks.list track by $index">
							<a href="#" class="eqn-bookmark">
								<span class="badge link" ng-click="mathfarm.shareQuestion($index)"><i class="fa fa-link"></i></span> 
								<span class="badge load" ng-click="mathfarm.loadQuestion($index)"><i class="fa fa-arrow-left"></i></span>
								<span class="badge trash" ng-click="mathfarm.deleteBookmark($index)"><i class="fa fa-close"></i></span> 
								{{n.qn}}
							</a>
						</li>
    				</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>